@import url('https://fonts.googleapis.com/css?family=Poppins');
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Poppins';
}
.header{
  height: 4rem;
  display:flex;
  background: rgb(71,151,63);
  color: white;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}